.wrapper {
	width: 40%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-left: solid 1px #d6d9dc;
	padding: 20px;
	box-sizing: border-box;
	justify-content: flex-start;
}
.questionTopWrapper {
	display: flex;
	justify-content: space-between;
}
.title {
	all: unset;
	padding: 10px;
	font-size: 18px;
	overflow: hidden;
}
.signUpButton {
	color: white !important;
	background-color: #1b75d0;
}
.signUpButton:hover {
	background-color: #134e8a;
}

.answerButton {
	all: unset;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 15px;
	padding: 2px 4px;
	color: white;
	background-color: #18864b;
	cursor: pointer;
	font-size: 12px;
	border-radius: 3px;
}
.answerButton:hover {
	background-color: #116137;
}
.wrapper h4 {
	display: flex;
	justify-content: center;
	border-top: solid 1px #d6d9dc;
	color: #656565;
	padding-top: 10px;
}

@media only screen and (max-width: 700px) {
	.wrapper {
		width: 95%;
	}
}
@media only screen and (min-width: 700px) {
	.wrapper {
		width: 70%;
	}
}
@media only screen and (min-width: 992px) {
	.wrapper {
		width: 50%;
	}
}
