.wrapper {
	border: 1px solid #e0e0e0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}
.wrapper h3 {
	all: unset;
	color: #1b75d0;
}
.topWrapper {
	display: flex;
	gap: 2rem;
}
.answerCountWrapper {
	flex: 1;
}
.question_text {
	flex: 3;
}
