.wrapper {
	border-top: solid 1px #d6d9dc;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

.topWrapper {
	min-height: 3rem;
	display: flex;
	align-items: center;
	gap: 2rem;
}
.answerCountWrapper {
	display: flex;
	font-size: 13px;
	padding: 2px 4px;
	width: 60px;
	height: 20px;
	background-color: #18864b;
	color: white;
	border-radius: 3px;
	align-items: center;
}
.questionText {
	color: #1b75d0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	font-weight: 200;
	font-size: 18px;
}
