.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	border-top: solid 1px #d6d9dc;
	margin-top: 1rem;
	padding-top: 1rem;
}
.answerTopWrapper {
	display: flex;
	gap: 2rem;
	width: 100%;
	margin-bottom: 1rem;
}
.likesWrapper {
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3px;
}
.answerText {
	width: 90%;
}
.bottomWrapper {
	display: flex;
	justify-content: flex-end;
}
.deleteAnswerButton {
	background-color: rgb(187, 142, 142);
}
.svgWrapper {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.svgWrapper svg {
	height: 100%;
	width: 100%;
}
.svgWrapper:hover {
	background-color: antiquewhite;
}
